@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size;
  color: $primary-text-color;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

main {
  padding: 1rem;
  margin: 0 auto;
}

/* Cat Info */

.cat-info {
  display: flex;
  gap: 30px;
  margin-top: 30px;

  & > div {
    flex-shrink: 0;
    width: 400px;
    height: 400px;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .name {
    font-size: $font-size-b;
    color: $secondary-text-color;
  }
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid $accent-bg-color;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.is-hidden {
  display: none !important;
}

/* Search Gallery */

.search-gallery {
  margin: 50px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 15px;

  .item {
    list-style: none;
    cursor: pointer;

    &:hover {
      outline: 2px solid $accent-bg-color;
    }
    &:hover .icon {
      opacity: 1;
      transition: opacity 150ms linear;
    }
  }

  .item div {
    position: relative;
  }

  .image {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  .icon {
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 10px;
    transition: transform 100ms linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Slim select styles */

.breed-form {
  display: flex;
  justify-content: center;

  .container {
    width: 200px;
  }
}


body .ss-content .ss-list .ss-option:hover {
  background-color: $accent-bg-color;
}

body .ss-content .ss-search input:focus,
body .ss-main:focus {
  box-shadow: 0 0 5px $accent-bg-color;
}

body .ss-content .ss-list .ss-option.ss-highlighted,
body .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: $accent-bg-color;
}
